<p id="notice"><%= notice %></p>

<p>
  <strong>Cpfcliente:</strong>
  <%= @contactum.cpfCliente %>
</p>

<p>
  <strong>Cnpjrestaurante:</strong>
  <%= @contactum.cnpjRestaurante %>
</p>

<%= link_to 'Edit', edit_contactum_path(@contactum) %> |
<%= link_to 'Back', contacta_path %>
